:root {
  --main-background: rgb(245, 229, 220);
  --main-light-background: rgb(245, 245, 245);
  --main-button-background: rgb(237, 120, 48);
  --div-background: rgb(217, 167, 111);
  --footer-background: rgb(28, 27, 29);
  --main-border-radius: 15px;
  --main-margin-left: 25px;
}
.vans-h3 {
  text-align: left;
  color: black;
  /* text-shadow: grey 1px 1px 1px; */
  font-size: 1.1rem;
  font-weight: 400;
  margin-left: var(--main-margin-left);
}

.vans-paragrath {
  text-align: left;
  color: black;
  font-size: 1.0rem;
  font-weight: 400;
  margin-left: var(--main-margin-left);
} 

.Vans {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 500px;
  justify-content: center;
  
  gap: 25px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.vans-image{
  width: 220px;
}
.vans-image img {
  width:200px;
  height: auto;
  border-radius: 5px;
  ;
}
.van-details{
  display: flex;
  align-items: center;
  ;
}

