:root {
  --main-background: rgb(245, 229, 220);
  --main-light-background: rgb(245, 245, 245);
  --main-button-background: rgb(237, 120, 48);
  --div-background: rgb(217, 167, 111);
  --footer-background: rgb(28, 27, 29);
  --main-border-radius: 15px;
  --main-margin-left: 25px;
}
.vans-h3 {
  text-align: left;
  color: black;
  /* text-shadow: grey 1px 1px 1px; */
  font-size: 1.1rem;
  font-weight: 400;
  margin-left: var(--main-margin-left);
}

.vans-paragrath {
  text-align: left;
  color: black;
  font-size: 1rem;
  font-weight: 400;
  margin-left: var(--main-margin-left);
}

.Vans {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 500px;
  justify-content: center;

  gap: 25px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.vans-image {
  display: flex;
  flex-direction: column;
 
  width: 220px;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.vans-image img {
  width: 200px;
  height: auto;
  border-radius: 5px;
}
.van-details {
  display: flex;
  align-items: center;
  height: 75px;
}

.div-type {
  display: flex;
  width: 150px;
  height: 40px;
  justify-content: center;
  align-items: center;
  font-size: larger;
  font-weight: 600;
  border-radius: 5px;
  border: none;
  margin: auto;

}
/* type: simple */
.green {
  background-color: green;
  color: white;
}
/* type: rugged */

.orange {
  background-color: rgb(222, 107, 75);
  color: white;
}
/* type: luxury */

.gray {
  background-color: gray;
  color: white;
}
