:root {
  --main-background: rgb(245, 229, 220);
  --main-light-background: rgb(245, 245, 245);
  --main-button-background: rgb(237, 120, 48);
  --div-background: rgb(217, 167, 111);
  --footer-background: rgb(28, 27, 29);
  --main-border-radius: 5px;
  --main-margin-left: 25px;
}
.vans-host-h3 {
  text-align: left;
  font-weight: bold;

  color: black;
  /* text-shadow: grey 1px 1px 1px; */
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: var(--main-margin-left);
}

.vans-host-paragrath {
  text-align: left;
  color: black;
  font-size: 1rem;
  font-weight: 400;
  margin-left: var(--main-margin-left);
}

.Vans-host {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
 
  justify-content: center;
   border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.vans-host-image {
  display: flex;
  background-color: rgb(243, 243, 243);  
  flex-direction: row;
  text-decoration: none;
  border-radius: var(--main-border-radius);  
  height: 110px;
  margin-bottom: 15px;
  width: 95%;
}
.vans-host-image img {
  height: auto;
  border-radius:  var(--main-border-radius);
}

