:root {
  --main-background: rgb(245, 229, 220);
  --main-light-background: rgb(245, 245, 245);

  --main-button-background: rgb(237, 120, 48);
  --div-background: rgb(217, 167, 111);
  --footer-background: rgb(28, 27, 29);
  --main-border-radius: 15px;
  --main-margin-left: 25px;
}

nav a {
  color: black;
  text-decoration: none;
}

.link-vanlife {
  font-size: 2rem;
  font-weight: 700;
}
.link-about {
  font-size: large;
  font-weight: 400;
}
.link-vans {
  font-size: large;
  font-weight: 400;
}

.App {
  text-align: center;

  height: 700px;
  /* border: solid firebrick 1px; */
  background-image: url(./images/mountain_dark.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.home-h1 {
  text-align: left;
  padding-left: 25px;
  padding-top: 35px;
  color: white;
  text-shadow: grey 1px 1px 1px;
  font-size: 3rem;
  font-weight: 700;
  margin-left: var(--main-margin-left);
}
.App p {
  text-align: left;
  padding-left: 25px;
  color: white;
  text-shadow: grey 1px 1px 1px;
  font-size: 1.2rem;
  font-weight: 400;
  margin-left: var(--main-margin-left);
}

html {
  padding: 45px 45px;
  display: flex;
  background-color: var(--main-background);
  justify-content: center;
  margin: auto;
}
.home-button {
  background-color: var(--main-button-background);
  border: none;
  font-size: 1.2rem;
  font-weight: 500;
  color: white;
  border-radius: 8px;
  margin-left: var(--main-margin-left);
  margin-right: var(--main-margin-left);
  text-decoration: none;
  height: 35px;
  width: 340px;
}

.container {
  width: 500px;
  height: auto;

  border: var(--main-light-background) 9px solid;
  border-radius: var(--main-border-radius);
}

nav div {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  gap: 14px;
  padding-right: 15px;
}

.link-income,
.link-reviews,
.link-vanshost {
  text-decoration: none;
  color: #161616;
}
.link-dashboard {
  font-size: 1.1rem;
  font-weight: 700;
  text-decoration: none;
  color: #161616;
}
.not-found {
  padding: 15px;
}

.dashboard-list,
.van-host-list {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 23px;
}

.link-active {
  font-weight: bold;
  text-decoration: underline;
  color: #161616;
}

.para-host-van-details {
  font-size: 1rem;
  font-weight: 600;
}
.para-host-van-details span {
  font-size: 1rem;
  font-weight: 400;
}
.para-host-van-image {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 94%;
  margin-top: 10px;

  margin-left: 10px;
  background-color: var(--main-light-background);
  border-radius: var(--main-border-radius);
}

.para-host-van-image img {
  width: 100px;
  margin-left: -10px;
  border-top-left-radius: var(--main-border-radius);
  border-bottom-left-radius: var(--main-border-radius);
}

.above-all-host-container {
  padding-bottom: 25px;
  padding-left: 10px;
}

.van-list-filter-buttons {
  display: flex;
  justify-content: right;
  gap: 17px;
}

.buttons-filter {
  background-color: rgb(235, 239, 241);
  color: grey;
  border: none;
  width: 103px;
  height: 40px;
  border-radius: 5px;
  font-size: large;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
