:root {
  --main-background: rgb(245, 229, 220);
  --main-light-background: rgb(245, 245, 245);

  --main-button-background: rgb(237, 120, 48);
  --div-background: rgb(217, 167, 111);
  --footer-background: rgb(28, 27, 29);
  --main-border-radius: 15px;
  --main-margin-left: 25px;
}

nav li, ul li {
  list-style: none;
  color: black;
}

nav a {
  
  color: black;
  
}

.link-vanlife {
  font-size: 2rem;
  font-weight: 700;
}
.link-about {
  font-size: large;
  font-weight: 400;
}
.link-vans {
  font-size: large;
  font-weight: 400;
}

.App {
  text-align: center;
 
  height: 700px;
  /* border: solid firebrick 1px; */
  background-image: url(./images/mountain_dark.png);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.home-h1 {
  text-align: left;
  padding-left: 25px;
  padding-top: 35px;
  color: white;
  text-shadow: grey 1px 1px 1px;
  font-size: 3rem;
  font-weight: 700;
  margin-left: var(--main-margin-left);
}
.App p {
  text-align: left;
  padding-left: 25px;
  color: white;
  text-shadow: grey 1px 1px 1px;
  font-size: 1.2rem;
  font-weight: 400;
  margin-left: var(--main-margin-left);
}

html {
  padding: 45px 45px;
  display: flex;
  background-color: var(--main-background);
  justify-content: center;
  margin: auto;
}
.home-button{
  background-color: var(--main-button-background); 
  border: none; 
  font-size: 1.2rem;
  font-weight: 500;
  color: white;
  border-radius: 8px;
  margin-left: var(--main-margin-left);
  margin-right: var(--main-margin-left);
  text-decoration: none;
  height: 35px;
  width: 340px;
}

.container {
  width: 500px;  
  height: auto;
  padding-top: 15px;
  padding-bottom: 0px;
  border: var(--main-light-background) 9px solid;
  border-radius: var(--main-border-radius);
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

nav ul div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 14px;
  padding-right: 15px;
}

.link-about,
.link-vans,
.link-vanlife, 
.link-host,
.link-income,
.link-reviews {
  text-decoration: none;
 
}
.link-dashboard{
  font-size: 1.3rem;
  font-weight: 700;
  text-decoration: none;

  ;
}
.not-found{
  padding: 15px;
}

.dashboard-list{
  display: flex;
  align-items: center;
  justify-content: left;  
  gap: 23px;

}